@tailwind base;
@tailwind components;
@tailwind utilities;

.grid {
  padding: 3rem;
  padding-bottom: 0rem;
}

.top-header {
  padding: 3rem;
  padding-bottom: 0rem;
  font-weight: bold;
}

.bottom-header {
  padding: 3rem;
  padding-top: 1rem;
  font-weight: bold;
}

.list-wrapper {
  padding: 3rem;
  padding-top: 0rem;
}
